* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #003399;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#name-nav-link {
    float: left;
    position: center;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 3em;
    max-height: 100px;
    max-width: 150px;
    text-decoration: none;
    color: #660000;
    font-family: 'Sedgwick Ave', cursive;
}

#name-nav-link:hover {
    color: #888;
}

.atr {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.atr .atl {
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
    position: relative;
}

.atr .atl a {
    color: #fff;
    text-decoration: none;
}

.atr .atla:hover {
    color: #888;
    transition: .5s;
}

.welcome {
    margin: 0;
    height: 100vh;
    background: url(https://pp.userapi.com/c845120/v845120922/18393e/vi0G-o-3nyw.jpg) no-repeat;
    background-size: cover;
}

.center {
    text-align: center;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    background-color: white;

}

.name {
    font-size: 50px;
    color: #003399;
    letter-spacing: -13px;
    opacity: 0.01;
    animation-name: name-grow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes name-grow {
    0% {
        opacity: 0.01;
        letter-spacing: -13px;
    }

    100% {
        opacity: 1;
        letter-spacing: 7px;
    }
}

.about_us {
    margin: 0;
    background: #1369ce no-repeat;
    background-size: cover;
    padding: 10px;
}

.heading, .heading2 {
    font-size: 40px;
    color: rgb(8, 29, 68);
    text-align: center;
    background-color: white;
}

.txt1 {
    color: white;
    font-size: 25px;
    font-family: "Sedgwick", sans-serif;

}

.title {
    color: #3399cc;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: -10px;
}

.all_team_memebers{
    display: flex;
    justify-content: center;
}

.meet_team {
    font-size: 40px;
    color: rgb(8, 29, 68);
    text-align: center;
}

.our-team {
    width: 240px;
    border: 3px solid white;
    background-image: url(https://pp.userapi.com/c846417/v846417330/184bc7/JDCsiPAtT-k.jpg);
    text-align: center;
    overflow: hidden;
    position: relative;
}

.name_member {
    display: flex;
    justify-content: center;
    color: #99cccc;
    font-size: 1.4em;
}

.title_member {
    color: white;
}

.our-team .picture {
    display: inline-block;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    margin-top: 30px;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;

    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}

.contact_section {
    background-color: #1369ce;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map {
    height: 50%;
    width: 50%;
    align-items: center;
}

.params {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    color: white;
}

footer {
    box-sizing: border-box;
    background: #003399;
    color: white;
    width: 100%;
    padding: 2em 1em 1em 0.5em;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

html {
    scroll-behavior: smooth;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    #welcome {
        height: 768px;
    }

    #contact_section {
        height: 768px;
    }

    #about_us {
        height: 768px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    * {
        height: 500px;
    }
}